{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "Surveillance data submission portal"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <p class="govuk-body-l">
          The surveillance data submission portal allows you to submit veterinary surveillance data to enhance the detection, assessment, and mitigation of disease-related threats to livestock and wildlife in Great Britain.
        </p>

        <a href="/sdo-test" class="govuk-button govuk-button--start" data-module="govuk-button">
          Continue to Surveillance data submission portal
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="m0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>

        <h2 class="govuk-heading-m">What the surveillance data submission portal does</h2>
        <p>
          The surveillance data submission portal allows APHA to securely and easily receive data from external data providers and is the gateway to a comprehensive and integrated data storage platform to bring together different sources of veterinary surveillance data through modern data management and analytical tool, to provide enriched and more timely insights into animal disease threat detection.
        </p>

        <h2 class="govuk-heading-m">Key features</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li><strong>Data integration:</strong> Unified platform for APHA and external data sources</li>
          <li><strong>Advanced analytics:</strong> Centralised data lake with medallion architecture (bronze, silver, gold layers)</li>
          <li><strong>Automated workflows:</strong> Streamlined data pipelines for efficient processing </li>
          <li><strong>Secure governance:</strong> Enhanced data security protocols and compliance </li>
          <li><strong>Disease monitoring:</strong> Surveillance and outbreak detection made available via <a href="https://www.gov.uk/guidance/view-apha-surveillance-reports-publications-and-data">APHA's dashboards</a></li>
        </ul>

        <div class="govuk-inset-text">
          <p>This system is for authorised APHA personnel and approved external partners involved in veterinary surveillance activities.</p>
        </div>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-body">
        <h2 class="govuk-heading-m">Quick links</h2>
        <ul class="govuk-list">
          <li><a href="/contact" class="govuk-link">Contact</a></li>
        </ul>

        <h3 class="govuk-heading-s">For external partners</h3>
        <p class="govuk-body-s">
          If you're an external partner needing access to submit surveillance data, please contact APHA: <a href="mailto:seda@apha.gov.uk">seda@apha.gov.uk</a>
        </p>
      </div>
    </div>
  </div>

{% endblock %}
